asgiref==3.2.10
dj-database-url==0.5.0
Django==3.1.5
django-base64field==1.0
django-cors-headers==3.5.0
django-filter==2.4.0
django-heroku==0.3.1
django-rest-passwordreset==1.1.0
djangorestframework==3.12.1
djangorestframework-simplejwt==4.5.0
drf-writable-nested==0.6.2
gunicorn==20.0.4
numpy==1.20.2
Pillow==8.2.0
psycopg2==2.8.6
PyJWT==1.7.1
pytz==2020.1
sqlparse==0.3.1
torch==1.8.1
torchvision==0.9.1
typing-extensions==3.10.0.0
whitenoise==5.2.0
